{% from 'util/navbar.html' import navbar %}
<!DOCTYPE html>
<html>
    {% include 'util/head.html' %}
<body>
        {{ navbar('index', 'demographics') }}

        <h1>Movie Recommendations &ndash; User Study</h1>
        <p>
            Welcome and thank you for participating in our user study on movie recommendation systems.<br>
            In this study you will receive some recommendation on movies you may be interested in. You will then provide feedback regarding these suggestions and the system.<br>
            The goal is to improve recommender systems by providing transparency to you, the user.
        </p>

        <p>
            The study will take approximately 30 minutes.<br>
            If you have questions at any point during the study, feel free to ask the supervisor.
        </p>

        <p>By participating in this study you agree to the data processing and protection policy shown below.</p>


        <div class="legal-info">

        <div class="data-consent">
            <h3>Information for Study Participants</h3>
            <p>
                This study is part of scientific research at LMU Munich and fortiss GmbH. This study is conducted under the supervision
                of Thomas Weber <a href="mailto:thomas.weber@ifi.lmu.de">&lt;thomas.weber@ifi.lmu.de&gt;</a>
                and Zhiwei Han <a href="mailto:han@fortiss.org">&lt;han@fortiss.org&gt;</a>.
            </p>

            <p>
                In this study you will provide your personal opinion on movie recommendation.
                Apart from that you will also provide some demographics information about yourself.
                By participanting in this study, you have the chance to receive either MMI-Points or an Amazon voucher.
                If you choose to do so, you have to provide your matriculation number or your email address respectively.
                These will be stored separately from the study data.
            </p>
            <h3>Consent to Data Processing</h3>
            <p>By participating in the study you consent to the following</p>
            <ol>
                <li>I am aware that the collection, processing and use of my data is voluntary. The survey can be canceled by me at any time without mentioning reasons and without causing me any disadvantages. In the event of cancellation, all data recorded of me will be irrevocably deleted.</li>
                <li>
                    I have been informed that my following data are processed:
                    <ul>
                        <li>Demographic data (age, gender, professional background)</li>
                        <li>Self-reported skills and background</li>
                    </ul>
                </li>
                <li>I am aware that my data is processed anonymously. Neither my name nor my mail address are associated with the collected data.</li>
                <li>
                    I agree that my data will be collected, processed, used and stored by Ludwig-Maximilians- Universität (LMU) Munich for the following purposes:
                    <ul>
                        <li>I agree that the results and primary data of this study may be published by the LMU Munich as a scientific publication. The data is published completely anonymously, i.e. the collected data cannot be related to respective participants.</li>
                        <li>The anonymized data is stored for an indefinite period of time.</li>
                    </ul>
                </li>
                <li>I have been informed that my personal data collected in the context of the above purposes will be processed in compliance with the General Data Protection Regulation (GDPR and BayDSG).</li>
                <li>Furthermore, I have been informed that I can amend the given consent without stating any reasons with effect for the future or revoke it completely. I can send my declaration of cancellation by stating the study title "Explainable Movie Recommender" and my study code by post or e-mail to
                    <pre>LMU Munich, Media Informatics Group
Attn: Thomas Weber
Frauenlobstraße 7A
80337 Munich
thomas.weber@ifi.lmu.de</pre>
                    In addition, after taking part in the study until Sept. 2020, I have the opportunity to obtain the complete deletion of my data at LMU Munich by stating my study code, as long as the data can still be assigned to this code.
                    I have understood that my data will be completely anonymized after this deadline and thus cannot be deleted.
                </li>
                <li>
                    I am aware that according to the General Data Protection Regulation (GDPR) I have a right to information about my personal data stored at the LMU Munich. For this purpose, I was also given an information sheet on data protection with further information. Because of this information and any further explanations, I can contact the experimenter by post or e-mail
                    <pre>LMU Munich, Media Informatics Group
Attn: Thomas Weber
Frauenlobstraße 7A
80337 Munich
thomas.weber@ifi.lmu.de</pre>
                </li>
            </ol>
            <p>By continuing with the study, I assure that I have read and understood the above consent and have been informed of my rights. I certify that I agree to the processing of my data by the LMU Munich.</p>
        </div>
        <div class="statutory-disclosure">
            <h3>Statutory Disclosure Duty for the Collection of Data Act 13 GDPR</h3>

            <h4>Name and Contact Details of the Responsible Person</h4>
                <h5>Responsible for the data processing is</h5>
                <pre>Responsible for the data processing is:
Ludwig-Maximilians-Universität München (LMU Munich)
Media Informatics Group
Frauenlobstraße 7A
80337 Munich</pre>
                    Contact Person: Thomas Weber thomas.weber@ifi.lmu.de
                <h5>Contact Details of the Official Data Protection Officer</h5>
                <pre>Dr. Rolf Gemmeke
Ludwig-Maximilians- Universität München (LMU Munich)
Official Data Protection Officer
Datenschutz@Verwaltung.Uni-Muenchen.de
Geschwister-Scholl-Platz 1
80539 Munich</pre>

            <h4>Purpose and legal bases of the processing</h4>
                <h5>Purpose of processing</h5>
                    <p>Your data will be collected to</p>

                    <ul>
                        <li>to work on scientific questions concerning driver demands (university research purpose).</li>
                        <li>to write scientific publications based on the findings of the processing of the data.</li>
                        <li>to work on issues in industrial research and development by AUDI AG. The purposes of the processing by the AUDI AG lie outside the area of responsibility of the Ludwig-Maximilians-Universität München. For further questions, please contact the AUDI AG directly.</li>
                    </ul>
                <h5>Legal basis of processing</h5>
                    <p>Your data are processed on the basis of Act 6 para. 1 a, Act 7, Act 9 para. 2 a, Act 89, Act 156 and Act 159 GDPR and Act 25 BayDSG.</p>
            <h4>Recipients or categories of recipients of personal data</h4>
                <p>Your data (except email addresses) are processed for research and development purposes at LMU Munich.</p>
            <h4>Duration of storage of personal data</h4>
                <p>The deletion of your contact data (email address) is carried out in accordance with the Principles of Research on Humans of the German Research Foundation (DFG). These personal data will be deleted as soon as they are no longer needed to recruit the subjects or for inquiries.</p>
                <p>The remaining data collected will be anonymised after completion of the scientific cooperation project (November 2019). The raw data will be deleted at this time. The anonymized data will not be deleted.</p>
            <h4>Rights of persons affected</h4>
                <p>According to the General Data Protection Regulation, you have the following rights:</p>
                <p>If your personal data are processed, you have the right to obtain information on the data stored about you (Act 15 GDPR).</p>
                <p>If incorrect personal data are processed, you are entitled to a correction (Act 16 GDPR).</p>
                <p>If the legal prerequisites exist, you can request the deletion or limitation of the processing and appeal against the processing (Acts 17, 18 and 21 GDPR).</p>
                <p>If you have consented to the data processing or to a data-processing contract and the data processing is carried automatically, you may be entitled to data transferability (Act 20 GDPR).</p>
                <p>If you make use of your rights mentioned above, the public office checks whether the legal requirements for these are met.</p>
                <p>Furthermore, there is a right of appeal to the Bavarian State Commissioner for Data Protection.</p>
            <h4>Bavarian State Office for Data Protection Supervision (BayLDA)</h4>
                <pre>Promenade 27
91522 Ansbach
Telephone: +49 (0) 981 53 1300
E-Mail: poststelle@lda.bayern.de
Online complaint form for data protection violations: https://www.lda.bayern.de/de/beschwerde.html</pre>
            <h4>Withdrawal with consent</h4>
                <p>If you have consented to the processing by the LMU Munich by a statement, you can revoke the consent at any time for the future. The legality of the data processing carried out on the basis of the consent until the revocation is not affected by this.</p>
        </div>
        </div>

        <a href="{{ url_for('demographics') }}" class="button">Start</a>

    <script>
        sessionStorage.setItem('study_start', (new Date()).toString());
    </script>
</body>
</html>
