{% from 'util/navbar.html' import navbar %}
<!DOCTYPE html>
<html>
    {% include 'util/head.html' %}
<body>
        {{ navbar('index', 'demographics') }}

        <h1>Movie Recommendations &ndash; User Study</h1>
        <p>
            Welcome and thank you for participating in our user study on movie recommendation systems.
        </p>

        <p>
            This study is part of scientific research at LMU Munich and fortiss GmbH. This study is conducted under the supervision
            of Thomas Weber <a href="mailto:thomas.weber@ifi.lmu.de">&lt;thomas.weber@ifi.lmu.de&gt;</a>
            and Zhiwei Han <a href="mailto:han@fortiss.org">&lt;han@fortiss.org&gt;</a>.
        </p>

        <p>
            In this study you will receive some recommendation on movies you may be interested in. You will then provide feedback regarding these suggestions and the system.<br>
            The goal is to improve recommender systems by providing transparency to you, the user.
        </p>

        <p>
            In this study you will provide your personal opinion on movie recommendation.
            Apart from that you will also provide some demographics information about yourself.
            <!-- By participanting in this study, you have the chance to receive either MMI-Points or an Amazon voucher.
            If you choose to do so, you have to provide your matriculation number or your email address respectively.
            These will be stored separately from the study data. -->
        </p>

        <p>
            The study will take approximately 30 minutes.<br>
            If you have questions at any point during the study, feel free to ask the supervisor.
        </p>

        <p>By participating in this study you agree to the data processing and protection policy shown below.</p>


        <div class="legal-info">
            {% include 'study/01-snippet-gdpr-consent.html' %}
            <p><a href="#">Download the GDPR statutory disclosure information</a></p><!-- TODO -->
            <!-- {% include 'study/01-snippet-gdpr-statutory-disclosure.html' %} -->
        </div>

        <a href="{{ url_for('demographics') }}" class="button">Begin the study</a>

    <script>
        sessionStorage.setItem('study_start', (new Date()).toString());
    </script>
</body>
</html>
