<div>

  <h3>Consent to Data Processing</h3>
  <p>By participating in the study you consent to the following</p>
  <ol>
    <li>I am aware that the collection, processing and use of my data is voluntary. The survey can be canceled by me at
      any time without mentioning reasons and without causing me any disadvantages. In the event of cancellation, all
      data recorded of me will be irrevocably deleted.</li>
    <li>
      I have been informed that my following data are processed:
      <ul>
        <li>Demographic data (age, gender, professional background)</li>
        <li>Self-reported skills and background</li>
      </ul>
    </li>
    <li>I am aware that my data is processed anonymously. Neither my name nor my mail address are associated with the
      collected data.</li>
    <li>
      I agree that my data will be collected, processed, used and stored by Ludwig-Maximilians- Universität (LMU) Munich
      for the following purposes:
      <ul>
        <li>I agree that the results and primary data of this study may be published by the LMU Munich as a scientific
          publication. The data is published completely anonymously, i.e. the collected data cannot be related to
          respective participants.</li>
        <li>The anonymized data is stored for an indefinite period of time.</li>
      </ul>
    </li>
    <li>I have been informed that my personal data collected in the context of the above purposes will be processed in
      compliance with the General Data Protection Regulation (GDPR and BayDSG).</li>
    <li>Furthermore, I have been informed that I can amend the given consent without stating any reasons with effect for
      the future or revoke it completely. I can send my declaration of cancellation by stating the study title
      "Explainable Movie Recommender" and my study code by post or e-mail to
      <pre>LMU Munich, Media Informatics Group
Attn: Thomas Weber
Frauenlobstraße 7A
80337 Munich
thomas.weber@ifi.lmu.de</pre>
      In addition, after taking part in the study until Sept. 2020, I have the opportunity to obtain the complete
      deletion of my data at LMU Munich by stating my study code, as long as the data can still be assigned to this
      code.
      I have understood that my data will be completely anonymized after this deadline and thus cannot be deleted.
    </li>
    <li>
      I am aware that according to the General Data Protection Regulation (GDPR) I have a right to information about my
      personal data stored at the LMU Munich. For this purpose, I was also given an information sheet on data protection
      with further information. Because of this information and any further explanations, I can contact the experimenter
      by post or e-mail
      <pre>LMU Munich, Media Informatics Group
Attn: Thomas Weber
Frauenlobstraße 7A
80337 Munich
thomas.weber@ifi.lmu.de</pre>
    </li>
  </ol>
  <p>By continuing with the study, I assure that I have read and understood the above consent and have been informed of
    my rights. I certify that I agree to the processing of my data by the LMU Munich.</p>
</div>