<div class="statutory-disclosure">
  <h3>Statutory Disclosure Duty for the Collection of Data Act 13 GDPR</h3>

  <h4>Name and Contact Details of the Responsible Person</h4>
      <h5>Responsible for the data processing is</h5>
      <pre>Responsible for the data processing is:
Ludwig-Maximilians-Universität München (LMU Munich)
Media Informatics Group
Frauenlobstraße 7A
80337 Munich</pre>
          Contact Person: Thomas Weber thomas.weber@ifi.lmu.de
      <h5>Contact Details of the Official Data Protection Officer</h5>
      <pre>Dr. Rolf Gemmeke
Ludwig-Maximilians- Universität München (LMU Munich)
Official Data Protection Officer
Datenschutz@Verwaltung.Uni-Muenchen.de
Geschwister-Scholl-Platz 1
80539 Munich</pre>

  <h4>Purpose and legal bases of the processing</h4>
      <h5>Purpose of processing</h5>
          <p>Your data will be collected to</p>

          <ul>
              <li>to work on scientific questions concerning driver demands (university research purpose).</li>
              <li>to write scientific publications based on the findings of the processing of the data.</li>
              <li>to work on issues in industrial research and development by AUDI AG. The purposes of the processing by the AUDI AG lie outside the area of responsibility of the Ludwig-Maximilians-Universität München. For further questions, please contact the AUDI AG directly.</li>
          </ul>
      <h5>Legal basis of processing</h5>
          <p>Your data are processed on the basis of Act 6 para. 1 a, Act 7, Act 9 para. 2 a, Act 89, Act 156 and Act 159 GDPR and Act 25 BayDSG.</p>
  <h4>Recipients or categories of recipients of personal data</h4>
      <p>Your data (except email addresses) are processed for research and development purposes at LMU Munich.</p>
  <h4>Duration of storage of personal data</h4>
      <p>The deletion of your contact data (email address) is carried out in accordance with the Principles of Research on Humans of the German Research Foundation (DFG). These personal data will be deleted as soon as they are no longer needed to recruit the subjects or for inquiries.</p>
      <p>The remaining data collected will be anonymised after completion of the scientific cooperation project (November 2019). The raw data will be deleted at this time. The anonymized data will not be deleted.</p>
  <h4>Rights of persons affected</h4>
      <p>According to the General Data Protection Regulation, you have the following rights:</p>
      <p>If your personal data are processed, you have the right to obtain information on the data stored about you (Act 15 GDPR).</p>
      <p>If incorrect personal data are processed, you are entitled to a correction (Act 16 GDPR).</p>
      <p>If the legal prerequisites exist, you can request the deletion or limitation of the processing and appeal against the processing (Acts 17, 18 and 21 GDPR).</p>
      <p>If you have consented to the data processing or to a data-processing contract and the data processing is carried automatically, you may be entitled to data transferability (Act 20 GDPR).</p>
      <p>If you make use of your rights mentioned above, the public office checks whether the legal requirements for these are met.</p>
      <p>Furthermore, there is a right of appeal to the Bavarian State Commissioner for Data Protection.</p>
  <h4>Bavarian State Office for Data Protection Supervision (BayLDA)</h4>
      <pre>Promenade 27
91522 Ansbach
Telephone: +49 (0) 981 53 1300
E-Mail: poststelle@lda.bayern.de
Online complaint form for data protection violations: https://www.lda.bayern.de/de/beschwerde.html</pre>
  <h4>Withdrawal with consent</h4>
      <p>If you have consented to the processing by the LMU Munich by a statement, you can revoke the consent at any time for the future. The legality of the data processing carried out on the basis of the consent until the revocation is not affected by this.</p>
</div>