{% from 'util/navbar.html' import navbar %}
<!DOCTYPE html>
<html>
    {% include 'util/head.html' %}
<body>
        {{ navbar('background', 'cold_start') }}

        <p>
            Thank you for completing the background questionnaire.
        </p>

        <p>
            In the following section, we will present you with a series of movies.
            For each of these movies, indicate whether you either have watched and
            enjoyed the movie or, if you have not watched the movie, whether you
            would be interested in it.
        </p>

        <p>
            You can use the buttons provided to indicate your choice. <br>Alternatively
            you can use the <code>E</code> key to state that you are not interested
            in the movie (Exclude) or the <code>I</code> key to  indicate that you are
            <em>i</em>nterested (Include).<br>
            If you are on a touch device, you can also swipe an item to the right to
            indicate interest and to the left to indicate that you are not interested.
        </p>

        <p>
            Please do not think to long on a choice but rather choose based on
            your first intuition
        </p>

        <a href="{{ url_for('cold_start') }}" class="button">Next</a>

</body>
</html>
