{% from 'util/navbar.html' import navbar %}
<!DOCTYPE html>
<html lang="en">
    {% include 'util/head.html' %}
    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
<body>

    {{ navbar('background', 'system_feedback') }}

    <h3>Are you interested in or did you enjoy watching this movie</h3>

    <div class="container" id="container"></div>

    <div class="tinder-buttons">
        <button id="reject">&#x2715;</button>
        <button id="accept">&#x2713;</button>
    </div>

    <script type="text/javascript">
        const MOVIES_SSKEY = 'movies';
        const CONTINUE_THRESHOLD = {{ threshold or 10 }};
        const POST_PREFERENCES_URL = `{{ url_for('post_movie_preferences_for_user', uid = uid) }}`;
        const GET_NEW_MOVIES_URL = `{{ url_for('get_movie_recommendations_for_user', uid = uid, system = ':system') }}`;
        const SYSTEMS = [ {% for sys in systems %} '{{ sys }}', {% endfor %} ].sort(() => Math.random() > .5 ? 1 : -1);

        const container = document.getElementById('container');

        let moviePreferences = JSON.parse(sessionStorage.getItem(MOVIES_SSKEY) || '{ }');
        let system = null;
        let remainingMovies = [ ];

        function handleError () {
            container.classList.remove('loading');
            container.innerText = 'Failed to load. Please ask the supervisor for help.'
        }

        /** Transition to next system or next page if all systems are covered */
        async function switchSystem () {
            if (SYSTEMS.length < 1) {
                console.info('All systems completed, moving to next page.');
                // Send data to API
                fetch(POST_PREFERENCES_URL, {
                    method: 'POST',
                    body: JSON.stringify(moviePreferences),
                    headers: { 'Content-Type': 'application/json' },
                })
                    .then(() => {
                        sessionStorage.setItem(MOVIES_SSKEY, '{ }');
                        location = `{{ url_for('system_feedback') }}`
                    })
                    .catch(handleError);
            } else {
                system = SYSTEMS.pop();
                console.info('Transitioning to', system);
                remainingMovies = [ ];
                moviePreferences = { };
                loadMoreMovies();
            }
        }

        /** Loads more movies for the current system from the API */
        async function loadMoreMovies () {
            const response = await fetch(GET_NEW_MOVIES_URL.replace(':system', system), { method: 'GET' })
            if (response.status < 400) {
                remainingMovies = remainingMovies.concat(await response.json());
            } else {
                handleError();
            }
            return refresh();
        }

        async function refresh () {
            try {
                // Clear the page
                container.innerHTML = '';
                container.classList.add('loading');

                // Count hits
                // TODO
                const hits = Object.keys(moviePreferences).map((key) => moviePreferences[key]).filter((a) => a).length;
                if (hits >= CONTINUE_THRESHOLD) {
                    // When we have n positive hits, continue
                    sessionStorage.setItem(MOVIES_SSKEY, JSON.stringify(moviePreferences));
                    switchSystem();
                } else {
                    if (remainingMovies.length) {
                        // Show the movie next in the list
                        const { id, title, image } = remainingMovies.pop();
                        const label = document.createElement('label');
                        const img = document.createElement('img');
                        const span = document.createElement('span');
                        label.classList.add('movie-card');
                        container.id = id;
                        img.src = image;
                        span.appendChild(document.createTextNode(title));
                        label.appendChild(img);
                        label.appendChild(span);
                        container.appendChild(label);
                        container.classList.remove('loading');
                    } else {
                        loadMoreMovies();
                    }
                }
            } catch (exception) {
                handleError();
            }
        }

        function accept () {
            if (container.classList.contains('loading')) return;
            const id = container.id;
            moviePreferences[id] = true;
            refresh();
        }

        function reject () {
            if (container.classList.contains('loading')) return;
            const id = container.id;
            moviePreferences[id] = true;
            refresh();
        }

        document.querySelector('.tinder-buttons button:first-child').addEventListener('click', reject);
        document.querySelector('.tinder-buttons button:last-child').addEventListener('click', accept);
        window.addEventListener('keypress', (e) => e.keyCode === 101 ? reject() : null);
        window.addEventListener('keypress', (e) => e.keyCode === 105 ? accept() : null);
        const hammerJS = new Hammer(document.body);
        hammerJS.on('swiperight', accept);
        hammerJS.on('swipeleft', reject);

        switchSystem();
    </script>
</body>
</html>
