{% from 'util/navbar.html' import navbar %}
<!DOCTYPE html>
<html>
    {% include 'util/head.html' %}
<body>
        {{ navbar('system_feedback', 'recommendations') }}

        <p>
            In the following section you will continue to provide feedback as to which
            movies your are interested in as before.
        </p>
        <p>
            However, each recommendation now has an attached explanations, why this
            specific movie was recommended to you.
            For each of these
        </p>
        <a href="{{ url_for('recommendations') }}" class="button">Start</a>

</body>
</html>
