{% from 'util/navbar.html' import navbar %}
<!DOCTYPE html>
<html>
    {% include 'util/head.html' %}
<body>
        {{ navbar('system_feedback', 'recommendations') }}

        <p>
            In the following section you will continue to provide feedback as to which
            movies your are interested in as before.
        </p>
        <p>
            However, each recommendation now has an attached explanations, why this
            specific movie was recommended to you.
        </p>
        <p>
            Please continue indicating, which of these movies peek your interest.
            After each vote, we will show you why a particular movie was recommended to you.
            For this explanation, please rate on a five star scale whether you would
            want to see this kind of explanation to help you better understand a
            recommender system.
        </p>
        <a href="{{ url_for('recommendations') }}" class="button">Next</a>

</body>
</html>
