{% from 'util/navbar.html' import navbar %}
<!DOCTYPE html>
<html>
    {% include 'util/head.html' %}
    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
<body>
    {{ navbar('recommendations_intro', 'post_study_questionnaire') }}

    <h3>Are you interested in or did you enjoy watching this movie</h3>

    <div class="container" id="container"></div>
    {% include 'util/spinner.html' %}

    <div class="tinder-buttons">
        <button id="reject">&#x2715;</button>
        <button id="accept">&#x2713;</button>
    </div>

    <div class="rating-scale hidden">
        <button><img src="{{ url_for('static', filename='res/star-off.svg') }}"></button>
        <button><img src="{{ url_for('static', filename='res/star-off.svg') }}"></button>
        <button><img src="{{ url_for('static', filename='res/star-off.svg') }}"></button>
        <button><img src="{{ url_for('static', filename='res/star-off.svg') }}"></button>
        <button><img src="{{ url_for('static', filename='res/star-off.svg') }}"></button>
    </div>

    
    <script src="{{ url_for('static', filename='js/error-handler.js') }}"></script>
    <script>
        const MOVIES_SSKEY = 'movies';
        const EXPL_SSKEY = 'movies';
        const CONTINUE_THRESHOLD = {{ threshold or 10 }};
        const POST_MOVIES_URL = `{{ url_for('post_movie_preferences_for_user', uid = uid, system = system or 'none') }}`;
        const POST_EXPL_URL = `{{ url_for('post_explanation_preferences_for_user', uid = uid, system = system or 'none') }}`;
        const GET_NEW_MOVIES_URL = `{{ url_for('get_movie_recommendations_for_user', uid = uid, system = 'our-system') }}`;
        const STAGE = {
            NONE: 0x00,
            MOVIE: 0x01,
            EXPL: 0x02,
            ERROR: 0x08,
        };

        const container = document.getElementById('container');
        const moviePreferences = JSON.parse(sessionStorage.getItem(MOVIES_SSKEY) || '{ }');
        const explanationPreferences = JSON.parse(sessionStorage.getItem(EXPL_SSKEY) || '{ }');

        let stage = STAGE.NONE;
        let  remainingMovies = [ ];
        let currentlyLoadingMovies = false;

        async function loadNewMovies () {
            // If already loading, skip
            if (currentlyLoadingMovies) {
                return;
            }
            currentlyLoadingMovies = true;

            // Get a new movie to rate
            const res = await fetch(GET_NEW_MOVIES_URL, { method: 'GET' });
            if (res.status < 400) {
                const data = await res.json();
                remainingMovies = data;
            } else {
                handleError(await res.json(), STAGE.ERROR);
            }
            currentlyLoadingMovies = false;
        }

        async function dumpPreferences () {
            try {
                sessionStorage.setItem(EXPL_SSKEY, JSON.stringify(explanationPreferences));
                // Send data to API
                const response = await fetch(POST_EXPL_URL, {
                    method: 'POST',
                    body: JSON.stringify(explanationPreferences),
                    headers: { 'Content-Type': 'application/json' },
                });
                if (response.status < 400) {
                    // Clear the storage
                    for (let key in explanationPreferences) {
                        explanationPreferences[key] = { };
                    }
                    sessionStorage.setItem(EXPL_SSKEY, '{ }');
                }
            } catch (err) {
                handleError(err, STAGE.ERROR);
            }
            return true;
        }

        async function showNext () {
            try {
                // Clear the page
                container.innerHTML = '';
                container.classList.add('loading');

                if (remainingMovies.length < 10 && !currentlyLoadingMovies) {
                    loadNewMovies();
                }

                // Every now and then, dump preferences
                if (Object.keys(moviePreferences).map((k) => Object.keys(moviePreferences[k]).length).reduce((a, b) => a + b) >= 15) {
                    dumpPreferences();
                }

                if (remainingMovies.length) {
                    const allComplete =
                        // TODO Has preferences for all n explanation types, remove hardcode
                        Object.keys(explanationPreferences).length === 3 &&
                        // and each has at least THRESHOLD votes
                        !Object.keys(explanationPreferences)
                            .map((type) => Object.keys(explanationPreferences[type]).length >= CONTINUE_THRESHOLD)
                            .some((b) => !b);

                    if (allComplete) {
                        // When we have n positive hits, continue with data submission
                        dumpPreferences().then(() => location = `{{ url_for('post_study_questionnaire') }}`);
                        return;
                    }

                    stage = STAGE.MOVIE;
                    const { id, title, image, explanation} = remainingMovies.pop();
                    // Show the correct inputs
                    document.querySelector('.tinder-buttons').classList.remove('hidden');
                    document.querySelector('.rating-scale').classList.add('hidden');

                    container.id = id;
                    // Create the necessary elements
                    const label = document.createElement('label');
                    label.classList.add('movie-card');
                    const img = document.createElement('img');
                    img.src = image;
                    const span = document.createElement('span');
                    const expl = document.createElement('p');
                    // Set the correct instruction heading
                    document.querySelector('h3').innerText = 'Are you interested in or did you enjoy watching this movie?';
                    // Generate the explanation
                    explText = explanation ? explanation.text : 'No explanation found.';
                    explType = explanation ? explanation.type : undefined;
                    expl.appendChild(document.createTextNode(explText));
                    expl.dataset.explanationType = explType;
                    expl.classList.add(('hidden'));
                    expl.classList.add('explanation')
                    // Append everything
                    span.appendChild(document.createTextNode(title));
                    label.appendChild(img);
                    label.appendChild(span);
                    container.appendChild(label);
                    container.appendChild(expl);
                    container.classList.remove('loading');
                } else {
                    setTimeout(showNext, 1000);
                }
            } catch (err) {
                handleError(err, STAGE.ERROR);
            }
        }

        function showExplanation () {
            stage = STAGE.EXPL;
            // Show the explanation + buttons, hide the rest
            document.querySelector('.container label').classList.add('hidden');
            document.querySelector('.container .explanation').classList.remove('hidden');
            document.querySelector('.tinder-buttons').classList.add('hidden');
            document.querySelector('.rating-scale').classList.remove('hidden');
        }

        /** Call when the user accepts the recommendation */
        function accept () {
            const id = container.id;
            moviePreferences[id] = true;
            showExplanation();
        }

        /** Call when the user rejects the recommendation */
        function reject () {
            const id = container.id;
            moviePreferences[id] = true;
            showExplanation();
        }

        // Input method: Buttons
        document.querySelector('.tinder-buttons button:first-child').addEventListener('click', reject);
        document.querySelector('.tinder-buttons button:last-child').addEventListener('click', accept);
        // Input method: Keyboad
        window.addEventListener('keypress', (e) => e.keyCode === 101 ? reject() : null);
        window.addEventListener('keypress', (e) => e.keyCode === 105 ? accept() : null);
        const hammerJS = new Hammer(document.body);
        // Input method: Swipe
        hammerJS.on('swiperight', accept);
        hammerJS.on('swipeleft', reject);

        // Input method for rating the explanation: Button
        document.querySelectorAll('.rating-scale button').forEach((btn, i, btns) => {
            btn.addEventListener('click', () => {
                const explanationType = document.querySelector('.explanation').dataset.explanationType;
                if (!explanationPreferences[explanationType]) {
                    explanationPreferences[explanationType] = { };
                }
                explanationPreferences[explanationType][container.id] = i;
                showNext();
            });
        });

        showNext();
    </script>
</body>
</html>
